<table id="blogs" class="table">
    <thead class='bg-success text-light'>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Blog</th>
            <th scope="col">URL</th>
        </tr>
    </thead>
    <tbody>
        {{#each blogs}}
            <tr class="font-weight-normal">
                <th class='indexCol bg-success' scope="row"><span>{{this.index}}</span></th>
                <th class='titleCol pl-4'>
                    <a class='aLink text-dark' href='/blog/{{this.id}}/items' class="d-block">{{this.name}}</a>
                    <div class='info mt-2'>
                        <time title='Ngày đăng' class='badge badge-danger p-2'><i class="far fa-calendar"></i> {{this.published}}</time>
                        <div title='Số lượng bài viết' class="badge badge-info p-2"><i class="fas fa-blog"></i> {{this.numPost}}</div>
                        <div title='Số lượng trang tĩnh' class="badge badge-warning p-2"><i class="far fa-file"></i> {{this.numPage}}</div>
                    </div>
                </th>
                <th><a class="btn btn-sm btn-primary btn-block" href='{{this.url}}' target='_blank'><i class="fas fa-paperclip"></i> Xem blog</a></th>
            </tr>
        {{/each}}
    </tbody>
</table>