{{#if isEmpty}}
<div class='alert alert-danger'>
    <h3 class='m-0 mb-3'>Blog chưa có bài viết</h3>
    <hr />
    <a href='#' class='btn btn-lg btn-danger'>Tạo bài viết ngay</a>
</div>
{{else}}
<div class="mb-5 p-3">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="blog-title h5">{{blog.title}}</h1>
        <div class="btn-group">
            <a href="{{blog.url}}" target='_blank' class="btn btn-sm btn-primary font-weight-bold">
                <i class="far fa-eye"></i>
                Xem blog
            </a>
            <a href="/blog/{{blogId}}/post/create" class="btn btn-sm btn-danger font-weight-bold">
                <i class="far fa-plus-square"></i>
                Tạo bài viết mới
            </a>
            <a href="/blog/{{blogId}}/page/create" class="btn btn-sm btn-warning font-weight-bold">
                <i class="far fa-plus-square"></i>
                Tạo trang tĩnh
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        {{> posts}}
    </div>
    <div class="col-sm-4">
        {{> pages}}
    </div>
</div>
{{> postUtils}}
{{/if}}