<form action="/pages/search" id="search-page" class='form-inline mb-3 justify-content-center'>
    <input type="text" name='q' placeholder='Nhập từ khóa cần tìm...' class="form-control form-control-sm">
    <button type="submit" class="btn btn-sm btn-primary align-items-center ml-2"><i class="fas fa-search"></i></button>
</form>
<table id='pages' class='table table-sm table-hover'>
    <thead class='bg-secondary mb-2'>
        <tr class='text-light'>
            <th class='text-center' scope='col'>STT</th>
            <th scope='col'>Danh sách trang</th>
            <th class='text-center' scope='col'>URL</th>
        </tr>
    </thead>
    <tbody>
        {{#each pages}}
        <tr class='font-weight-normal'>
            <td class='index-col text-center align-middle' scope='row'>{{this.index}}</td>
            <td class='align-middle'>
                <div class='m-0 h6 pl-2 pr-2'>
                    <a title='{{this.title}}' href='/blog/{{../blogId}}/page/{{this.id}}/edit'
                        class='aLink mb-1 post-title text-dark'>
                        {{this.title}}
                    </a>
                </div>
            </td>
            <td class='view-col align-middle'><a class='badge badge-primary w-100 p-2' href='{{this.url}}'
                    target='_blank'><i class="far fa-eye"></i></a></td>
        </tr>
        {{else}}
        <tr class='font-weight-normal bg-light'>
            <td colspan='4' class='align-middle p-3 pl-4 pr-4'>
                <div class='m-0 h6'>
                    <i class="far fa-folder-open"></i>
                    Không có trang nào
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>